/* Mobil */
.detail {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; /* Evitar scroll horizontal */
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detailInfo {
  text-align: left;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box; /* Incluir padding en el ancho */
  max-width: 400px; /* Tamaño fijo */
}

h2 {
  margin-top: 0px;
  margin-bottom: 3px;
}

.star {
  color: #ddd;
  font-size: 1.5rem;
  padding: 0 5px;
}

.star:hover,
.star:hover ~ .star {
  color: #ffc700;
}

.btn {
  background-color: #f38164;
  color: #ffffff;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  text-decoration: none;
}

/* Tablet */
@media (min-width: 768px) {
  .content {
    flex-direction: row;
    width: auto;
  }

  .detailInfo {
    flex: 1;
    padding: 3rem;
    max-width: none; /* Restaurar el ancho automático */
  }
}

/* Escritorio */
@media (min-width: 1440px) {
  .detailInfo {
    padding: 4rem;
    max-width: 800px;
  }
}