.loginContainer {
    display: flex;
    height: 100vh;
}

.imageContainerLogin {
    flex: 1;
    background: url('src/assets/img/fotologin.jpg') center/cover no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.imageContainerLogin::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente negro */
}

.imageTextLogin {

    text-align: left;
    /* Añade esta línea para justificar el texto */
    font-size: 70px;
    justify-content: baseline;
    z-index: 1;
}

.formContainerLogin {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Estilos para el botón */ .primaryButtonLogin {
    background-color: #f38134;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

/* Estilos para llevar el botón al lado derecho */
.d-grid {
    justify-content: flex-end;
    /* Lleva el botón al lado derecho */
}


@media screen and (max-width: 1000px) {
    .formContainerLogin {
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    .formContainerLogin {
        width: 80%;
    }
}
