.profileDashContainer{
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 50px;
}



  .profileDashButton {
    background-color: #f38134;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}