.contenedor-formulario {
  width: 50vw;
  font-family: Arial, Helvetica, sans-serif;
}

.texto {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #273562;
}

.fila-formulario {
  display: flex;
  margin: 1rem 0;
}

.input-container {
  flex: 1;
  margin-right: 24px; /* Espaciado uniforme */
  position: relative;
}

.input-container:last-child {
  margin-right: 0; /* Para la última fila, elimina el margen derecho */
}

.input-container label {
  font-size: 12px;
  color: #273562;
  position: absolute;
  top: -10px; /* Coloca el label encima del input */
  left: 10px;
  background-color: white; /* Color del fondo del label */
  padding: 0 5px; /* Espacio interno del label */
  z-index: 1; /* Asegura que el label esté por encima del input */
}

.input-container input[type="text"],
.input-container textarea {
  width: 100%; /* Ocupa el 100% del ancho disponible */
  border: 1.5px solid #273662;
  height: 3.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
}

.input-container textarea {
  height: 7rem;
  resize: none;
  padding-top: 0.625rem;
}

.boton-enviar input[type="submit"] {
  background-color: #f38164;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.boton-enviar input[type="submit"]:hover {
  background-color: #db5837;
  transition: background-color 0.3s;
}

.boton-imagenes {
  display: inline-block;
  font-size: 14px;
  padding: 10px 20px;
  background-color: #273662;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

.boton-imagenes:hover {
  background-color: #1b2e4e;
}

.supporting-text {
  margin-top: 0.25rem; /* Espacio entre el input y el texto de soporte */
  font-size: 0.75rem; /* Tamaño de la fuente del texto de soporte */
  color: #31363f; /* Color del texto de soporte */
}


@media only screen and (max-width: 600px) {
  .contenedor-formulario {
    position: relative;
    z-index: 1;
    width: 90vw; /* Reducir el ancho para dispositivos móviles */
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 250px;
    
  }

  .fila-formulario {
    flex-direction: column; /* Alinear los campos uno debajo del otro */
  }

  .input-container {
    margin-right: 0; /* Eliminar el margen derecho */
    margin-bottom: 24px; /* Espaciado uniforme entre los campos */
  }

  .input-container input[type="text"],
  .input-container textarea {
    width: 100%; /* Ocupar todo el ancho  */
  }

  .boton-enviar input[type="submit"] {
    margin: 0 auto; /* Centrar el botón */
  }
}