/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}

/*Barra de búsqueda*/
.container {
  position: fixed;
  left: 50%;
  top:15%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 60%;
  background-color: #fff;
  transition: all 0.3s ease;
}

input {outline: none;
  box-sizing: border-box;
  height: 60px;
  width: 50%;
  padding: 0 20px;
  color: #8799D8;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid;
transition: all .7s ease;
}

::placeholder {
  color: #8799D8;
}

.btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  background: #8799D8;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}

 .btn i {
  font-size: 25px;
  color: white;
  line-height: 80px;
  transition: all .7s ease;
 }

 .container:hover input {
  width: 770px;
 }

 .container:hover i {
  transform: rotate(-360deg);
 }

 .btn.hover {
  background: #8799D8; 
 }


 /*Cards*/
 .slide-container {
  max-width: 1300px;
  width: 100%;
  background-color: white; /*Fondo de las cards para ponerlas todas */
  margin-top: 720px;
  padding: 5px 0;
 }

.slide-content{
margin: 0 40px;
}

 .card {
  width: 320px;
  border-radius: 0px ;
  background-color: #8799D8;
 }

 .image-content,
 .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  padding-top: 50px;
 }

 .image-content{
  position: relative;
  row-gap: 5px;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #8799D8;
  border-radius: 25px 25px 0 25px;
}

 .card-image {
  position: relative;
  height: 200px;
  width: 320px;
  border-radius: 50%;
  background: #8799D8;
 }

 .card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
 }
 
 .name{
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
 }

 .price{
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
 }

 .description{
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
 }

 .button{
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  padding: 10px 20px;
  background-color: #273662;
  border-radius: 20px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover{
  background: #40589f;
}