.header {
  width: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #8799D8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .50rem;
  padding-right: .50rem;
  z-index: 1000;
}

.header__logo img {
  height: 40px;
  margin: .25rem;
}

.header__links a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-style: normal;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header__links a:first-child {
  margin-left: 0;
}

.header__register-button {
  background-color: #F38164;
  color: #ffffff;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  margin: .5rem;
  text-decoration: none;
}

.header__register-button:hover {
  background-color: #8799D8;
  color: #273662;
}

.header__links a:hover{
  color: #273662;
}