.footer {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left:0;
  right:0;
  background-color: #8799D8;
  padding: .25rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #273662;
}

.footer__left { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: .1rem;
}

.footer__left img {
  height: 40px;
  margin-right: 1rem;
}

.footer__right {
  justify-self: baseline;

}

.footer__right span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: .5rem;

}

@media only screen and (max-width: 600px) {
  .footer {
    position: relative;
  }

}
