.productos {
  box-shadow: 0px 4px 10px rgb(39, 54, 98, .25);
  border-radius: 15px;
}

h3 {
  text-align: center;
}

.col-md-6{
  display: flex;
  justify-content: center;
}

.card {
  background-color: #E9ECF7 !important;
  border-style: none!important;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgb(39, 54, 98, .25);
  max-height: 88px;
  margin-bottom: 20px;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;

}

.card img {
  width: 80px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto; /* Para mantener la proporción de aspecto */
  float: left;
  margin: 10px; /* Espacio entre la imagen y el texto */
}

.card-body {
  display: flex;
  background-color: #E9ECF7;
  align-items: center;
}

.desplegable-menu {
  position: absolute; /* Posiciona el menú desplegable absolutamente con respecto a la card */
  top: 50%;  /* Coloca el menú debajo del botón */
  left: 100%;/* Alinea el menú a la derecha */
  background-color: #fff;
  border-radius: 10px;
  color:#273662;
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: 1;
  box-shadow: 0px 4px 10px rgb(39, 54, 98, .25);
}

.btn-primary   :hover {
  background-color: #E9ECF7 !important;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  cursor: pointer;
}

.page-link:hover {
  text-decoration: none;
}

.mt-3 {
  margin-top: 20px;
}

.card button {
  background-color: #E9ECF7;
  color: #273662;
}

.options-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.options-menu ul li {
  padding: 8px 15px;
  cursor: pointer;
}

.options-menu ul li:hover {
  background-color: #E9ECF7;
}

.options-menu ul li a {
  color: #273662;
}

@media only screen and (max-width: 768px) {
  .productos{
    display: none;
  }
}
