/* Slider.module.css */
*{
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
}

.grid {
  display: flex;
  gap: 20px; /* Espacio entre las tarjetas */
  border: 1px solid black;
}

/* Estilos para las tarjetas (puedes ajustar según tus necesidades) */

/*Flechas*/
.leftArrow{

}

.rightArrow{

}
