*{
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.grid {
  display: flex;
  gap: 20px; 
}


/*Flechas*/
.arrow{
  cursor: pointer;
  color: #273662;
  font-size: 6rem;
}
.leftArrow{
  
}

.rightArrow{

}
